<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAmu8Udo3C0wnursKRBdQoUAfaA9H1EchU</string>
	<key>GCM_SENDER_ID</key>
	<string>749432688229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appGarb</string>
	<key>PROJECT_ID</key>
	<string>proyecto-game-65267</string>
	<key>STORAGE_BUCKET</key>
	<string>proyecto-game-65267.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749432688229:ios:0f2773a2443dedb4a4808c</string>
</dict>
</plist>